body {
    background-color: rgb(6, 6, 6);
    margin: 0;
    position: absolute;
    top: 50px;
    right: 200px;
    left: 200px;
    bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.post {
    position: relative;
    background-color: rgb(233, 233, 233);
    width: 500px;
    margin: auto; 
}

.post-header {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.profile-image img {
    width: 100%;
    height: 50px;
    object-fit: cover;
    object-position: center;
}

.profile {
    width: 50px;
    border-radius: 50%;
    border-style: solid;
    border: double 3px transparent;
    background-image: linear-gradient(white, white),linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.user{
    width: 100%;
    padding: 0 15px;
}

.options i {
    width: 100%;
    float: right;  
    font-size: 25px;
}

.post-imagen img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.post-body {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    align-items: center;
    box-sizing: border-box;
}

.body-icons {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
}

.body-icons i {
    width: 100%;
    font-size: 25px;
    align-items: center;
    box-sizing: border-box;
    margin: 2px;
}

.icon-bookmark i {
    width: 100%;
    margin-left: 353px; 
}

.color-hashtag {
    color: rgb(16, 138, 179);
}
